

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colors  */
    
    /* Primary */
   --dark-cyan: hsl(185, 75%, 39%);
   --very-dark-desaturated-blue: hsl(229, 23%, 23%);
   --dark-grayish-blue: hsl(227, 10%, 46%);

   /* Neutral */
   --dark-gray: hsla(0, 0%, 59%, 0.226);

   /* Body Font */
    --font-size: 18px;
}
html{
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:  var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.bg-pattern-top, .bg-pattern-bottom{
    position: absolute;
    pointer-events: none;
}
.bg-pattern-top{
    width: 60%;
    top: -60%;
    left: -10%;
}
.bg-pattern-bottom{
    width: 60%;
    bottom: -75%;
    right: -15%;
}
.card{
    background: #fff;
    text-align: center;
    border-radius: 18px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.178);     
}
h1, h2{
    font-size: var(--font-size);
    color: var(--very-dark-desaturated-blue);
}
h2{
    margin-bottom: .2rem;
}
.stats{
    border-top: 1px solid var(--dark-gray);
    padding: 1.7rem 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
p, span{
    color: var( --dark-grayish-blue);
    letter-spacing: 1px;
}
.stats p {
    font-size: 12px;
}
.profile-data{
 position: relative;
}
.profile-img{
    position: absolute;
    top: -50px;
    left: 122px;
    border: 5px solid white;
    border-radius: 50%;
}
h1{
    padding-top: 5rem;
    margin-bottom: .5rem;
}
h1+p{
    margin-bottom: 2rem;
    font-size: 16px;
}
/* ## Layout */

/* - Mobile: 375px
- Desktop: 1440px */

